.chatContainer {
	margin: auto;
	display: grid;
	grid-template-columns: auto;

	border: 5px solid #999999;
	border-radius: 10px;
}

.chatHeader {
	//margin: auto;
	text-align: center;
	border-bottom: 5px solid #999999;
}

.chatBody {
	overflow: scroll;
	overflow-x: hidden;
	height: 300px;
}

.messageLine {	
	padding: 2px;
}

.nickname {
	font-weight: bold;
}

.chatFooter {
	//margin: auto;
	text-align: center;
	border-top: 5px solid #999999;
}

.textMessage {

}

.buttonSend {

}