/*HomeMenu*/
/***********************/

.centerContentOnPage {
	margin: auto;
	width: 60%;	
	padding: 10px;
}

.centerContent {
	margin: auto;
	width: 60%;	
	padding: 10px;	
}

.homeMenu {
	display: grid; 
	grid-template-columns: auto auto auto; 	
}

.gameIcon {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

.gameIcon:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


